{% extends "base.html" %} {% block content %}
<header class="site-header">
    <a class="brand" href="/">ニコ</a>
    <div class="sublabel">私は日本人じゃないです</div>
</header>

<main class="container">
    <h1 class="post-title">{{ section.title }}</h1>
    {% if section.description %}
    <div class="post-meta">{{ section.description }}</div>
    {% endif %} {% for p in section.pages %}
    <article class="post list-item">
        <h2 class="post-title">
            <a href="{{ p.permalink }}">{{ p.title }}</a>
        </h2>
        <div class="post-meta">{{ p.date | date(format="%Y-%m-%d") }}</div>
        <div class="post-content">{{ p.summary | safe }}</div>
    </article>
    {% endfor %}
</main>
{% endblock content %}
